body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.carousel-container {
  position: relative;
  width: 60%;
  max-width: 500px;
  overflow: hidden;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  width: 100%;
  height: auto;
  display: none;
}

.carousel-img.active {
  display: block;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}


.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail {
  width: 60px;
  height: 40px;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  border: 2px solid transparent;
}

.thumbnail.active {
  opacity: 1;
  border-color: red;
}